.item{
    width : 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    height: 550px;
}

.zoom{
    transition: transform .2s;
}


.zoom:hover {
    transform: scale(1.5);
  }
