<div class="hero-wrap js-fullheight" style="background-image: url('assets/images/bg_1.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
      data-scrollax-parent="true">
      <div class="col-md-11 ftco-animate text-center">
        <h1 class="mb-4">Meuilleure Platforme pour prendre soin de votre Chien </h1>
        <p><button *ngIf="connected != 'true'"  (click)="loginDialog()" class="btn btn-primary mr-md-4 py-3 px-4">Se Connecter<span
              class="ion-ios-arrow-forward"></span></button></p>
      </div>
    </div>
  </div>
</div>

<br><br><br><br><br><br>

<section class="ftco-section bg-light ftco-no-pt ftco-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex align-self-stretch px-4" (click)="go_dogwalking()">
        <div class="d-block services text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="flaticon-blind"></span>
          </div>
          <div class="media-body" >
            <h3 class="heading">Dog Walking</h3>
            <p>Une Sélection des multiples dog walkers qui sont prêt à prendre soin de vos chiens</p>
            <a  class="btn-custom d-flex align-items-center justify-content-center"><span
                class="fa fa-chevron-right"></span><i class="sr-only">Read more</i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch px-4 " (click)="go_veterinaire()">
        <div class="d-block services text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="flaticon-veterinarian"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Véterinaires</h3>
            <p>Des spécialistes qui assurent le bien-être de votre chien : Un bon chien est un chien en bonne santé!</p>
            <a href="#" class="btn-custom d-flex align-items-center justify-content-center"><span
                class="fa fa-chevron-right"></span><i class="sr-only">Read more</i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch px-4 " (click)="go_dresseur()">
        <div class="d-block services text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="flaticon-pawprint"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Dressage</h3>
            <p>Si votre chien a besoin de dressage, nos spécialistes assurent un bon plan d'entrainement</p>
            <a href="#" class="btn-custom d-flex align-items-center justify-content-center"><span
                class="fa fa-chevron-right"></span><i class="sr-only">Read more</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section text-center ">
        <h2>Derniers Articles...</h2>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-md-4 d-flex ">
        <div class="blog-entry align-self-stretch">
          <a href="blog-single.html" class="block-20 rounded"
            style="background-image: url('assets/images/image_1.jpg');">
          </a>
          <div class="text p-4">
            <div class="meta mb-2">
              <div><a href="#">April 07, 2020</a></div>
              <div><a href="#">Admin</a></div>
              <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
            </div>
            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ">
        <div class="blog-entry align-self-stretch">
          <a href="blog-single.html" class="block-20 rounded"
            style="background-image: url('assets/images/image_2.jpg');">
          </a>
          <div class="text p-4">
            <div class="meta mb-2">
              <div><a href="#">April 07, 2020</a></div>
              <div><a href="#">Admin</a></div>
              <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
            </div>
            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ">
        <div class="blog-entry align-self-stretch">
          <a href="blog-single.html" class="block-20 rounded"
            style="background-image: url('assets/images/image_3.jpg');">
          </a>
          <div class="text p-4">
            <div class="meta mb-2">
              <div><a href="#">April 07, 2020</a></div>
              <div><a href="#">Admin</a></div>
              <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
            </div>
            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row d-flex no-gutters">
      <div class="col-md-5 d-flex">
        <div
          class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0"
          style="background-image:url(assets/images/about-1.jpg);">
        </div>
      </div>
      <div class="col-md-7 pl-md-5 py-md-5">
        <div class="heading-section pt-md-5">
          <h2 class="mb-4">Pourquoi Utiliser <i><b>DOGY</b></i> ?</h2>
        </div>
        <div class="row">
          <div class="col-md-6 services-2 w-100 d-flex">
            <div class="icon d-flex align-items-center justify-content-center"><span
                class="flaticon-stethoscope"></span></div>
            <div class="text pl-3">
              <h4>Conseils d'entretien...</h4>
              <p>Nous offrons pleins de conseils dans nos articles pour maintenir votre chien en bonne santé</p>
            </div>
          </div>
          <div class="col-md-6 services-2 w-100 d-flex">
            <div class="icon d-flex align-items-center justify-content-center"><span
                class="flaticon-customer-service"></span></div>
            <div class="text pl-3">
              <h4>Service Client</h4>
              <p>Nous répondons à vous mails pour prendre vos avis et conseils</p>
            </div>
          </div>
          <div class="col-md-6 services-2 w-100 d-flex">
            <div class="icon d-flex align-items-center justify-content-center"><span
                class="flaticon-emergency-call"></span></div>
            <div class="text pl-3">
              <h4>Lost & Found</h4>
              <p>Notre volet Lost & Found vous aidera à trouver votre chien perdu</p>
            </div>
          </div>
          <div class="col-md-6 services-2 w-100 d-flex">
            <div class="icon d-flex align-items-center justify-content-center"><span
                class="flaticon-veterinarian"></span></div>
            <div class="text pl-3">
              <h4>Aide Véterinaire</h4>
              <p>Nous assurons la disponibilité des spécialistes véteriniares pour examiner votre chien</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-counter" id="section-counter">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number" data-number="50">{{users.length}}</strong>
          </div>
          <div class="text">
            <span>Client</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number" data-number="8500">{{vets.length}}</strong>
          </div>
          <div class="text">
            <span>Véterinaires</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number" data-number="20">{{dws.length}}</strong>
          </div>
          <div class="text">
            <span>Dog Walkers</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ">
        <div class="block-18 text-center">
          <div class="text">
            <strong class="number" data-number="50">{{dress.length}}</strong>
          </div>
          <div class="text">
            <span>Dresseurs</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






<section class="ftco-section bg-light ftco-faqs">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-md-last">
        <div
          class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0"
          style="background-image:url(https://www.campbellrivervet.com/wp-content/uploads/sites/60/2019/01/vet-dog.jpg);">
        </div>
        <div class="d-flex mt-3">
          <div class="img img-2 mr-md-2"
            style="background-image:url(https://media-cldnry.s-nbcnews.com/image/upload/t_nbcnews-fp-1200-630,f_auto,q_auto:best/newscms/2019_30/2945251/190724-better-lost-dog-stock-se-1148a.jpg);">
          </div>
          <div class="img img-2 ml-md-2"
            style="background-image:url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/golden-retriever-royalty-free-image-506756303-1560962726.jpg?crop=0.672xw:1.00xh;0.166xw,0&resize=640:*);">
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="heading-section mb-5 mt-5 mt-lg-0">
          <h2 class="mb-3">Questions fréquemment posées</h2>
          <p>Les questions posées par les utilisateurs de notre plateforme...</p>
        </div>
        <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
          <div class="card">
            <div class="card-header p-0" id="headingOne">
              <h2 class="mb-0">
                <button href="#collapseOne"
                  class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link"
                  data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                  <p class="mb-0">Comment Utiliser cette Plateforme?</p>
                  <i class="fa" aria-hidden="true"></i>
                </button>
              </h2>
            </div>
            <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-body py-3 px-0">
                <ol>
                  <li>Créer votre Compte</li>
                  <li>Lors de la création, préciser bien votre ville</li>
                  <li>La plateforme va trouver les plus proches personelles, ainsi que les plus proches offres et
                    annonces, selon votre ville</li>
                </ol>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header p-0" id="headingTwo" role="tab">
              <h2 class="mb-0">
                <button href="#collapseTwo"
                  class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link"
                  data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                  <p class="mb-0">Quelles sont ses principales services?</p>
                  <i class="fa" aria-hidden="true"></i>
                </button>
              </h2>
            </div>
            <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
              <div class="card-body py-3 px-0">
                <ul>
                  <li>Trouver des Dog Walkers</li>
                  <li>Trouver des Dresseurs</li>
                  <li>Trouver des véterinaires</li>
                  <li>Consulter les différentes annonces : Accouplement / Achat</li>
                  <li>Trouver votre chien perdu</li>
                  <li>Consulter les derniers articles de bien-être de votre chien</li>
                </ul>
              </div>
            </div>
          </div>

          <!-- <div class="card">
            <div class="card-header p-0" id="headingThree" role="tab">
              <h2 class="mb-0">
                <button href="#collapseThree"
                  class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link"
                  data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
                  <p class="mb-0">What is the best grooming for your pets?</p>
                  <i class="fa" aria-hidden="true"></i>
                </button>
              </h2>
            </div>
            <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
              <div class="card-body py-3 px-0">
                <ol>
                  <li>Far far away, behind the word mountains</li>
                  <li>Consonantia, there live the blind texts</li>
                  <li>When she reached the first hills of the Italic Mountains</li>
                  <li>Bookmarksgrove, the headline of Alphabet Village</li>
                  <li>Separated they live in Bookmarksgrove right</li>
                </ol>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header p-0" id="headingFour" role="tab">
              <h2 class="mb-0">
                <button href="#collapseFour"
                  class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link"
                  data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
                  <p class="mb-0">What are those requirements for sitting pets?</p>
                  <i class="fa" aria-hidden="true"></i>
                </button>
              </h2>
            </div>
            <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
              <div class="card-body py-3 px-0">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                  the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                  language ocean.</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section text-center ">
        <h2>Notre Galerie</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ">
        <div class="work mb-4 img d-flex align-items-end"
          style="background-image: url(https://www.campbellrivervet.com/wp-content/uploads/sites/60/2019/01/vet-dog.jpg);">
          <a href="https://www.campbellrivervet.com/wp-content/uploads/sites/60/2019/01/vet-dog.jpg"
            class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="fa fa-expand"></span>
          </a>
          <div class="desc w-100 px-4">
            <div class="text w-100 mb-3">
              <h2><a href="work-single.html">Caniche</a></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="work mb-4 img d-flex align-items-end"
          style="background-image: url(https://www.hospitalveterinariglories.com/wp-content/uploads/2021/08/04-08-21-Conoce-al-pastor-alemán.jpg);">
          <a href="https://www.hospitalveterinariglories.com/wp-content/uploads/2021/08/04-08-21-Conoce-al-pastor-alemán.jpg"
            class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="fa fa-expand"></span>
          </a>
          <div class="desc w-100 px-4">
            <div class="text w-100 mb-3">
              <h2><a href="work-single.html">Berger Allemand</a></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="work mb-4 img d-flex align-items-end"
          style="background-image: url(https://jardinage.lemonde.fr/images/dossiers/2017-06/labrador-1-101957.jpg);">
          <a href="https://jardinage.lemonde.fr/images/dossiers/2017-06/labrador-1-101957.jpg"
            class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="fa fa-expand"></span>
          </a>
          <div class="desc w-100 px-4">
            <div class="text w-100 mb-3">
              <h2><a href="work-single.html">Labrador</a></h2>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 ">
        <div class="work mb-4 img d-flex align-items-end"
          style="background-image: url(https://jardinage.lemonde.fr/images/dossiers/2017-07/husky-1-105935.jpg);">
          <a href="https://jardinage.lemonde.fr/images/dossiers/2017-07/husky-1-105935.jpg"
            class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="fa fa-expand"></span>
          </a>
          <div class="desc w-100 px-4">
            <div class="text w-100 mb-3">
              <h2><a href="work-single.html">Husky</a></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url(assets/images/gallery-5.jpg);">
          <a href="assets/images/gallery-5.jpg"
            class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="fa fa-expand"></span>
          </a>
          <div class="desc w-100 px-4">
            <div class="text w-100 mb-3">
              <h2><a href="work-single.html">Beagle</a></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="work mb-4 img d-flex align-items-end" style="background-image: url(assets/images/gallery-6.jpg);">
          <a href="assets/images/gallery-6.jpg"
            class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="fa fa-expand"></span>
          </a>
          <div class="desc w-100 px-4">
            <div class="text w-100 mb-3">
              <h2><a href="work-single.html">Pug</a></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb img"
  style="background-image: url(assets/images/bg_3.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row d-md-flex justify-content-end">
      <div class="col-md-12 col-lg-6 half p-3 py-5 pl-lg-5 ">
        <h2 class="mb-4">Nous Contacter...</h2>
        <form action="#" class="appointment">
          <div class="row">
            <!-- <div class="col-md-12">
              <div class="form-group">
                <div class="form-field">
                  <div class="select-wrap">
                    <div class="icon"><span class="fa fa-chevron-down"></span></div>
                    <select name="" id="" class="form-control">
                      <option value="">Select services</option>
                      <option value="">Cat Sitting</option>
                      <option value="">Dog Walk</option>
                      <option value="">Pet Spa</option>
                      <option value="">Pet Grooming</option>
                      <option value="">Pet Daycare</option>
                    </select>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col-md-12">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Votre adresse Mail...">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Votre Nom...">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Votre Prénom...">
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="form-group">
                <div class="input-wrap">
                  <div class="icon"><span class="fa fa-calendar"></span></div>
                  <input type="text" class="form-control appointment_date" placeholder="Date">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-wrap">
                  <div class="icon"><span class="fa fa-clock-o"></span></div>
                  <input type="text" class="form-control appointment_time" placeholder="Time">
                </div>
              </div>
            </div> -->
            <div class="col-md-12">
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Votre Message..."></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="submit" value="Envoyer le Message" class="btn btn-primary py-3 px-4">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>