<div class="backgrounded">

</div>

<mat-toolbar style="background-color: #c8e0bf ; ">
    <span>Dresseurs</span>
  </mat-toolbar>

  <br>

<h1>Liste des Dresseurs</h1>

<br>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Sexe</th>
            <th scope="col">Ville</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let dresseur of dresseurs">
            <th scope="row">{{dresseur.id}}</th>
            <td>{{dresseur.nom}}</td>
            <td>{{dresseur.prenom}}</td>
            <td>{{dresseur.sexe}}</td>
            <td>{{dresseur.ville}}</td>
            <td><button class="btn btn-primary">Modifier</button></td>
            <!-- <td><button class="btn btn-danger">Supprimer</button></td> -->
        </tr>
    </tbody>
</table>


<button (click)="openAddDialog()" mat-fab color="primary" style="position: absolute; right: 0; bottom: 0; margin-right: 30px; margin-bottom: 20px;">
    <mat-icon>add</mat-icon>
  </button>

