<!-- <div class="backgrounded">

</div> -->


<!-- =========== Start All Hotel In Grid View =================== -->
<section class="gray-bg">
    <div class="container">
        <h3>Articles</h3><br>
        <div class="col-md-4 col-sm-6" *ngFor="let article of articles">
            <div class="blog-box blog-grid-box">
                <div class="blog-grid-box-img">
                    <img  [src]="convert(article.image.content)"class="img-responsive" alt="">
                </div>

                <div class="blog-grid-box-content">
                    <h4>{{article.titre}}</h4>
                    <p><strong>De </strong> <span class="theme-cl">{{article.user.prenom}} {{article.user.nom}}</span></p>
                    <!-- <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    </p> -->
                    <a (click)="openComments(article)" class="theme-cl" title="Read More..">Consulter...</a>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- =========== End All Hotel In Grid View =================== -->