<div class="backgrounded">

</div>

<br>
<div style="text-align: center;">
    <h1>Articles du Blog</h1>
</div>
<br>
<div class="centred">
    <table *ngFor="let article of articles" class="p-2"
        style="margin-left: 15px; max-width: 700px; background-color: rgb(224, 224, 224); border-radius: 5%; margin-top: 10px;">
        <tr>
            <td colspan="2">
                <table>
                    <tr>
                        <td rowspan="2"><img src="../../../assets/images/user.jpg"
                                style="height: 75px; width: 75px; border-radius: 50%;"></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;<b>Elaboré Par : </b><i>{{article.user.prenom}}
                                {{article.user.nom}}</i></td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;<i>{{article.dateAjout | date : 'EEEE, dd MMMM YYYY' }}</i></td>
                    </tr>
                </table>
        </tr>
        <tr>
            <td><h3 style="margin-left: 16px;">{{article.titre}}</h3></td>
        </tr>
        <tr>
            <td><div style="margin-left: 16px;" [innerHTML]="article.contenu"></div></td>
        </tr>
        <tr>
            <td><img [src]="convert(article.image.content)" width="750px" height="750px"></td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;<span (click)="openComments(article)">{{article.commentaires.length}} Commentaires</span></td>
        </tr>
    </table>
</div>

