<h4 mat-dialog-title><span mat-dialog-close style="color: red; right: 0;">
    <mat-icon>cancel</mat-icon>
  </span>&nbsp;Commentaires d'Article "{{data['data'].titre}}" ({{comments?.length}})</h4>

<mat-dialog-content>
  <div class="container">
    <h4 *ngIf="comments?.length == 0">Soyez le premier à Commenter</h4>

    <div *ngFor="let comment of comments" class="media"
      style="max-width: 500px ; border-style: groove; border-radius: 20px; background-color: rgb(180, 179, 179);">
      <div class="media-body">
        <h5 class="mt-0"><b>{{comment.user.prenom}} {{comment.user.nom}}</b></h5>
        <i>{{comment.contenu}}</i>
      </div>
      <br><br><br>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>

  <div class="container">

    <form class="row" [formGroup]="form" (ngSubmit)="submit()">
    <div class="input-group">
      <input id="comment" type="text" formControlName="content" class="form-control" placeholder="Ecrire Votre commentaire ici">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit"><mat-icon>send</mat-icon></button>
      </div>
    </div>
    </form>

  </div>

</mat-dialog-actions>