<div class="container" align="center">


<br>

<h1>Liste des "Dog Walkers"</h1>

<button (click)="openAddDialog()" class="btn btn-warning" >Ajouter un Dogwalker</button>

<br><br>

<div class="table-responsive">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Photo</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Sexe</th>
      <th scope="col">Ville</th>
      <th colspan="2" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dogwalker of dogwalkers">
      <th scope="row">{{dogwalker.id}}</th>
      <td><img [src]="convert(dogwalker.image.content)" height="100px" width="100px" style="border-radius: 50%;" ></td>
      <td>{{dogwalker.nom}}</td>
      <td>{{dogwalker.prenom}}</td>
      <td>{{dogwalker.sexe}}</td>
      <td>{{dogwalker.ville}}</td>
      <td><button class="btn btn-primary" (click)="openUpdateDialog(dogwalker)">Modifier</button></td>
    </tr>
  </tbody>
</table>
</div>




</div>