<div class="container-fluid" align="center">

    <h1>Les Dresseurs Disponibles</h1>

    <div class="row">

        <div class="col">
            <input #filterValue (input)="filterByName(filterValue.value)" style="width: 200px;" type="text"
                class="form-control" placeholder="Recherche...">
        </div>

        <div class="col">
            <select #filterRegionValue (input)="filterByRegion(filterRegionValue.value)" style="width: 200px;"
                id="inputState" class="form-control">
                <option selected value="Tous les régions">Tous les régions</option>
                <option *ngFor="let region of regions" [value]="region">{{region}}</option>
            </select>
        </div>

    </div>



    <div class="row text-center">

        <div class="col-xl-3 col-sm-6 mb-5" *ngFor="let dresseur of dressuers">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img [src]="convert(dresseur.image.content)" alt=""
                    width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">{{dresseur.nom | uppercase}} {{dresseur.prenom}}</h5><span
                    class="small text-uppercase text-muted">{{replace(dresseur.ville)}}</span>
                <br>
                <button (click)="openDresseursDetails(dresseur)" class="btn btn-primary">Détails</button>
            </div>
        </div>
    </div>



</div>