<div class="container-fluid" align="center">

    <br>

    <h5 class="section-title h1">Les Véterinaires</h5>

    <br>

    <div class="row">

        <div class="col">
            <input #filterValue (input)="filterByName(filterValue.value)" style="width: 200px;" type="text"
                class="form-control" placeholder="Rechercher...">
        </div>
        <div class="col">
            <select #filterRegionValue (input)="filterByRegion(filterRegionValue.value)" style="width: 200px;"
                id="inputState" class="form-control">
                <option selected value="Tous les régions">Tous les régions</option>
                <option *ngFor="let region of regions" [value]="region">{{region}}</option>
            </select>
        </div>
    </div>


    <section id="team" class="pb-5">
        <div class="container">
            <div class="row">
                <!-- Team member -->
                <div style="margin-bottom: 15px;" class="col-xs-12 col-sm-6 col-md-4" *ngFor="let vet of vets">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" [src]="convert(vet.image.content)" alt="card image">
                                        </p>
                                        <h4 class="card-title">{{vet.nom | uppercase}}, {{vet.prenom}}</h4>
                                        <p class="card-text">{{replace(vet.ville)}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">{{vet.nom | uppercase}}, {{vet.prenom}}</h4>
                                        <p class="card-text">Horriares de Travail: <br>{{vet.horraire}}</p>
                                        <p class="card-text">Description: <br>{{vet.description}}</p>
                                        <p class="card-text">E-Mail: <br><a href="mailto:{{vet.email}}"
                                                style="font-size: small;">{{vet.email}}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>