<div>
    <h2 mat-dialog-title style="text-align: center;"><b>Ajouter un nouveau Dresseur</b></h2>
    <mat-dialog-content>
        <div class="form-row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Nom</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Prénom</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Sexe</mat-label>
                    <mat-select>
                        <mat-option value="Homme">Homme</mat-option>
                        <mat-option value="Femme">Femme</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Ville</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let region of regions" [value]="region">{{region}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="form-row" style="text-align: center;">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Description du Dresseur</mat-label>
                    <textarea cdkTextareaAutosize cdkAutosizeMaxRows="5" cols="30" matInput></textarea>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-mini-fab mat-dialog-close style="background-color: red;">
            <mat-icon>clear</mat-icon>
        </button>
        <button mat-mini-fab [mat-dialog-close]="true" cdkFocusInitial style="background-color: rgb(16, 151, 3);">
            <mat-icon>check</mat-icon>
        </button>
    </mat-dialog-actions>
</div>