<div class="backgrounded">

</div>



<div class="container-fluid" align="center">

    <h1>Annonces</h1>

    <br>


    <div class="row">
        <div class="col">
            <select (change)="onCityChange()" style="width: 200px;" id="inputState" class="form-control">
                <option selected value="Tous les régions">Tous les régions</option>
                <option *ngFor="let region of regions" [value]="region">{{region}}</option>
            </select>
            <br>
        </div>
        <div class="col">
            <select #annonceType (change)="onTypeChange(annonceType.value)" style="width: 200px;" id="inputType"
                class="form-control">
                <option selected value="Tous les types">Tous les types</option>
                <option value="Accouplement">Accouplement</option>
                <option value="Vente">Vente</option>
                <option value="Lost">Lost</option>
                <option value="Found">Found</option>
            </select>
        </div>
    </div>

    <div *ngIf="annonces.length == 0">
        <h4>Pas de Nouvelles Annonces pour le moment<br><br><br></h4>
    </div>

    <div class="table-responsive">

    <table style="background-color: beige; margin-left: 15px; border-style: dashed; margin-top: 15px; max-width: 700px;"
        *ngFor="let annonce of annonces">
        <tr>
            <td rowspan="3"><img [src]="convert(annonce.image.content)" height="230px" width="230px">
            </td>
            <td>
                <b>{{annonce.titre}}</b>
            </td>
        </tr>
        <tr>
            <td>
                <b>Date de Création : </b>{{annonce.createdAt | date : 'EEEE, dd MMMM YYYY'}}<br>
                <b>Race</b> : {{annonce.race}}&nbsp;
                <b>Age</b> : {{annonce.age}}&nbsp;
                <b>Sexe</b> : {{annonce.sexe}}&nbsp;
                <b>Taille</b> : {{annonce.taille}}<br>
                <span><span *ngIf="annonce.papiers == true"><b>Avec Papiers,&nbsp;</b></span><span
                        *ngIf="annonce.papiers == false"><b>Sans Papiers,&nbsp;</b></span><span
                        *ngIf="annonce.dressage == true"><b>Dressé(e)</b><br></span><span
                        *ngIf="annonce.dressage == false"><b>Non Dressé(e)</b><br></span></span>
                <b>Ville</b> : {{annonce.ville}}<br>
                <b><button class="btn btn-lg btn-success that" (click)="plusDeDetails(annonce)">Plus de Détails</button></b>
            </td>
        </tr>
        <tr>
            <td><b>Depuis L'utilisateur</b> : <span style="background-color: yellow;">{{annonce.user.prenom}}</span>,
                <b>Email</b> :
                <span style="background-color: yellow;">{{annonce.user.email}}</span>
            </td>
        </tr>
    </table>

</div>


</div>