<div align="center">
    <h1>Liste Noire</h1>
</div>


<div class="table-responsive">
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Raison</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of blackList">
            <th scope="row">{{user.idEmailNoir}}</th>
            <td>{{user.email}}</td>
            <td>{{user.raison}}</td>
        </tr>
    </tbody>
</table>
</div>

<div align="center" >
    <button class="btn btn-danger" (click)="closeDialog()">Fermer</button>
</div>